##  Sample env file for nitter

# -- for nitter 
# NITTER_HOST_NAME="nitter.net"
# NITTER_TITLE="Nitter"
# NITTER_ADDRESS="0.0.0.0"
# NITTER_PORT=8080
# NITTER_USE_HTTPS=false
# NITTER_MAX_CONNECTIONS=100
# NITTER_STATIC_DIR="./public"

# -- for cache
# CACHE_LIST_MINUTES=120
# CACHE_RSS_MINUTES=10
# CACHE_REDIS_HOST="localhost"
# CACHE_REDIS_PORT=6379
# CACHE_REDIS_CONNECTIONS=20
# CACHE_REDIS_MAXCONNECTIONS=30
# CACHE_REDIS_PASSWORD=""

# -- for config
# CONFIG_HMAC_KEY="s3cr3tk3y"
# CONFIG_BASE64_MEDIA=false
# CONFIG_TOKEN_COUNT=10
# CONFIG_ENABLE_RSS=true
# CONFIG_ENABLE_DEBUG=false
# CONFIG_PROXY=""
# CONFIG_PROXY_AUTH=""

# -- for preference
# PREF_THEME="Nitter"
# PREF_REPLACE_TWITTER="nitter.net"
# PREF_REPLACE_YOUTUBE="piped.video"
# PREF_REPLACE_REDDIT="teddit.net"
# PREF_PROXY_VIDEOS=true
# PREF_HLS_PLAYBACK=false
# PREF_INFINITE_SCROLL=false
